{% extends 'base.html' %}

{% block body %}
    <style> div.centralizar{text-align: center}</style>
    <style type="text/css">
                .generated-text {
                   font-family:'Lucida Grande', sans-serif;
                   font-size:45px;
                   font-weight:bold;
                   line-height:40px;
                   color:#d45017;
                   background-color:#F4E1D4;
                   padding:20px;
                }
    </style>
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <div class="container">
                <h1 class="generated-text">Modelo de<br/>
                    Previsão</h1>
            </div>
        </div>
    </div>
{% endblock %}