<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: ;"  >
  <div class="container-fluid container" id="menu">
    <a class="navbar-brand" href="/">
      <img src="https://images2.imgbox.com/25/25/75rPoVNx_o.gif" alt="" width="40" height="46" class="d-inline-block align-text-top">
    </a>
    <a class="navbar-brand" href="/">Início</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/upload">Modelo de Previsão</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/modelo">Sobre o MPFQ-ES</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

